<script>
$(document).ready(function(){

    $(".option").children('ul').hide();
    var cache;
    $(".option").click(function(){  
        if(cache === undefined || cache == false){
          $(this).children('ul').hide();
          cache = true;
        }else{
          $(this).children('ul').show();
          cache = false;
        }
    });
});
</script>


<div class="navbar">
  {% for option in options %}
      <div class="option">
      <h4>{{option.title}}</h4>
      <ul>
      {% for cat in option.type %}
        <li><input type='checkbox'>{{cat}}</input></li>
      {% endfor %}
      </ul>
      </div>
  {% endfor %}
</div>
