<div id="navbar">
  {% for option in options %}
    <div class="option">
      <h4>{{option.title}}</h4>
      <ul class='categorie'>
      {% for cat in option.type %}
        <li class='sous-categorie'><input class='checkbox' type='checkbox'/><div name='{{cat}}'>{{cat}}</div></li>
      {% endfor %}
      </ul>
      </div>
  {% endfor %}
</div>
