<form id="searchBar" class="col-xs-12 col-md-10" action="accueil" method="GET">
    <span class="col-xs-3 col-md-3">Rechercher une ville</span>
    <input class="col-xs-1 col-md-1" id="champRecherche" type="text" name="ville"/>
    <div class="col-xs-7 col-md-7">
      <input class="col-xs-1 col-md-2 col-md-offset-2 col-xs-offset-2" id="boutonValider" type="submit" value="Valider"/>
      <input id="boutonValider" class="col-xs-1 col-md-2 col-md-offset-2" type="button" onclick="velib();" value="Velib"></button>
      <input id="boutonValider" class="col-xs-1 col-md-2 col-md-offset-2" type="button" onclick="alerte();" value="Alerte"></button>
    </div>
</form>
