<form id="searchBar" class="col-xs-10 col-md-10" action="accueil" method="GET">
    <span class="col-xs-3 col-md-3">Rechercher une ville</span>
    <input class="col-xs-5 col-md-5" id="champRecherche" type="text" name="ville"/>
    <input class="col-xs-2 col-md-2 col-md-offset-1 col-xs-offset-1" id="boutonValider" type="submit" value="Valider"/>
</form>
