<form id="searchBar" class="col-xs-12 col-md-10" action="accueil" method="GET">
    <span class="hidden-xs hidden-sm col-md-2">Rechercher une ville</span>
    <input class="col-xs-4 col-md-2" id="champRecherche" type="text" name="ville" placeholder="Rechercher" style="float:left;"/>
    <input class="col-xs-2 col-md-2 col-md-offset-1" id="boutonValider" type="submit" value="Valider"/>
    <input id="boutonValider" class="col-xs-2 col-md-2 col-md-offset-2" type="button" onclick="velib();" value="velib"></button>
</form>
