<form id="searchBar" action="accueil" method="GET">
    Rechercher une ville
    <input type="text" style="color: #0f0f0f" name="ville"/>
    <input type="submit" style="color: #0f0f0f" value="Valider"/>
</form>
