html, body {
    height: 100%;
    font-family: "Microsoft JhengHei";
}
.container-fluid, .row {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
    overflow-x: hidden;
}

#conteneur{
    padding-left: 0px;
    padding-right: 0px;
}

header{
    background-color: #708090;
}

#titre{
    margin-bottom: 0px;
    margin-top: 0px;
}

#navbar{
    background-color: #708090;
    height: 100%;
    padding-top: 10px;
}

.option{
    color: #d9edf7;
    padding-bottom: 30px;
    padding-left: 10px;
}

#mapid{
    padding-left: -15px;
}

#logo{
    float: left;
    width: 2.5%;
    height: 2.5%;
}